* {

    margin: 0px;

}

#canvas {

    margin-top: 5%;
    border: 1px solid black;

}

#erro {

    display: none;

}

.conteudo{
    text-align: justify;
}

.gif {
    width: 40px;
}

header {

    position: sticky;
    z-index: 100;
    top: 0px;

}

.calc {
    width: 80px;
}

.img_conteudo {
    width: 500px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.img-gaba {
    border-radius: 10px;
}

.img_triangulos {
    width: 800px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.linha {
    border-bottom: 2px solid gray;
}

.respostas {
    list-style-type: none;
}

.f-col {

    display: flex;
    flex-direction: column;

}

.ml-35 {

    margin-left: 35%;

}

@media only screen and (max-width: 620px) {
    .mx-5 {
        margin-right: 0rem!important;
        margin-left: 0rem!important;
    }
}